@import "tailwindcss";

:root {
  --background: #252121 ;
  --foreground: #ffffff;
}




body {
  font-weight: 300;
  background: linear-gradient(90deg,rgba(0, 0, 0, 1) 60%, rgb(107, 152, 99) 100%) ;
  color : var(--foreground);
}

.thin {
  font-weight: 200;
}

.transform{
  transition: opacity 0.6s ease;
}

.opacity{
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
  animation-delay: 0.2s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@media (min-width: 1024px) {
  .transform{
    transition: transform 0.5s ease, opacity 0.6s ease;
  }
  .transform:hover{
    transform: scale(1.1);
    transition:
      transform 0.5s ease,
      opacity 0.6s ease;
  }
}




.bg-fond{
background: linear-gradient(90deg,rgba(0, 0, 0, 1) 60%, rgb(107, 152, 99) 100%) ;
}


.disabled{
  pointer-events: none;

}

.last-center{
  text-align-last: center;
}
